/* --------------------------------------------------------------
/* =BASIS
-------------------------------------------------------------- */

*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


h1, h2 {
	font-family: 'Open Sans', sans-serif;  font-weight: 300;
}

main {
	background: #ffffff;
	/*padding: 50 50 50 50;*/
  font-family: 'Open Sans', sans-serif;
	font-weight: 400;
	margin: 40px;
}

p {
	font-family: 'Open Sans', sans-serif;
	font-weight: 300;
}

ul {
	padding-left: 0px;
}

ul li {
	padding-left:0;
	list-style-type: none;
	display: inline;
}

i, .icon {
  font-family: 'mfg_labs_iconsetregular';
  font-style: normal;
  speak: none;
  font-weight: normal;
  font-size: 1em;
  -webkit-font-smoothing: antialiased;
	color: black;
	padding: 2px;
}

.icon2x { font-size: 2em; }
.icon3x { font-size: 3em; }

a:link {
	text-decoration: none;
}

img {
  display: block;
  margin: 0 auto;
	width: 50%;
  max-width: 100%;
}

/* --------------------------------------------------------------
/* =ESSENTIAL CLASSES
-------------------------------------------------------------- */
.wrapper, .aboutme {
  width: 860px;
  margin: 0 auto;
}
.wrapper::after {
  content: "";
  display: block;
  clear: both;
}


/* --------------------------------------------------------------
/* =FOOTER
-------------------------------------------------------------- */
footer, main {
  padding: 0 0 70px 0;
}
.footer-col {
  width: 25%;
  padding: 0 20px 0 0;
  float: left;
}


/* --------------------------------------------------------------
/* =RESPONSIVE / SCREEN UNDER 1200PX
-------------------------------------------------------------- */
@media screen and (max-width: 1200px) {
  .large-wrapper {
    width: 100%;
    margin: 0;
  }
  .opl { display: none; }
}

/* --------------------------------------------------------------
/* =RESPONSIVE / SCREEN UNDER 600PX
-------------------------------------------------------------- */
@media screen and (max-width: 900px) {
  p {
    margin: 5px 0 13px 0;
    font-size: 14px;
    line-height: 170%;
  }
  header {
    padding: 20px 0;
  }
  .wrapper {
    width: 88%;
    margin: 0 6%;
  }
  footer {
    padding: 0 0 30px 0;
    text-align: left;
  }
  .footer-col {
    width: 100%;
    padding: 0;
  }
}
